/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos body*/



.body-index{
    background-image: url(../img/fondo-pagina-web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    background-color:#FFF2F2 ;
}

/* estilos header index*/
header{
    background-color: #FF5D5D;
}


/* estilo navbar index*/
header .container-fluid ul .nav-item .nav-link{
    color: black !important;
}

/* estilos footer index*/
footer{
    background-color: #FF5D5D ;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    border-radius: 2px;
}

footer p{
    margin-top: 30px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

footer a{
    display: inline-block;
    margin-top: 0.48rem;
    margin-left: 0.30rem;
}




/* header de pages*/
header a img{
    height: 45px;
    width: 90px;
    background-color: #FFF;
    padding: 3px;
    margin-top: 8px;
    margin-left: 7px;
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
}




header .menu-pages ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin-left: 7px;
    border-radius: 4px;
    letter-spacing: 0.7px;
}
header .menu-pages ul li a:hover{
    padding: 5px;
    background-color: #F47C7C;
    border-radius: 4px;
    transition-duration: 0.3s ;
}



header div .menu-pages ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    justify-content: end;
    padding: 20px;
    margin-left: 15px;
}  



/* estilos footer pages*/
.footer-pages{
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

.footer-pages .redes-footer{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.footer-pages .redes-footer a img{
    height: 28px;
}






/*estilos de main INICIO*/

.main-inicio div img{
    height: 20vh;
}


