/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos body*/



.body-index{
    background-image: url(../img/fondo-pagina-web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.body-index main{
    display: none;
}


body{
    background-color:#FFF2F2 ;
}

/* estilos header index*/
header{
    background-color: #FF5D5D;
}


/* estilo navbar index*/
header .navbar{
    display: none;
}

/* estilos footer index*/
footer{
    background-color: #FF5D5D ;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    border-radius: 2px;
}

footer p{
    margin-top: 30px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

footer a{
    display: inline-block;
    margin-top: 0.48rem;
    margin-left: 0.30rem;
}




/* header de pages*/
header a img{
    height: 45px;
    width: 90px;
    background-color: #FFF;
    padding: 3px;
    margin-top: 8px;
    margin-left: 7px;
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
}




header .menu-pages ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin-left: 7px;
    border-radius: 4px;
    letter-spacing: 0.7px;
}
header .menu-pages ul li a:hover{
    padding: 5px;
    background-color: #F47C7C;
    border-radius: 4px;
    transition-duration: 0.3s ;
}



header div .menu-pages ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    justify-content: end;
    padding: 20px;
    margin-left: 15px;
}  



/* estilos footer pages*/
.footer-pages{
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

.footer-pages .redes-footer{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.footer-pages .redes-footer a img{
    height: 28px;
}






/*estilos de main INICIO*/

.main-inicio div img{  
    height: 20vh;
}

.main-inicio div{
    display: flex;
    justify-content: center;
    background-image: url(../img/prueba1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-inicio .sobre-nosotros-inicio {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas:
    "video encabezado encabezado"
    "video texto texto"
    "video texto texto";
    border-radius: 3px;
    box-shadow: 3px 3px 10px gray;
    margin: 50px;
    margin-top: 7rem;
}

.main-inicio section h1 {
    grid-area: encabezado;
    font-family: 'Rubik', sans-serif;
    margin-top: 1.8rem;
    margin-right: 6rem;
    margin-left: 1.4rem;
    color: #3e3e3ed8;
    letter-spacing: 1px;
}

.main-inicio section .video {
    grid-area: video;
    margin-left: 4rem;
    margin-top: 2rem;
}

.main-inicio section .texto-sobre {
    grid-area: texto;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
    text-align: start;
}

.main-inicio a img{
    height: 4.4rem;
}
.main-inicio a{
    display: flex;
    justify-content: end;
    margin: 2.8rem;
    position: sticky;
    filter: drop-shadow(1px 2px 8px gray)
}


/*media queries*/
@media screen and (max-width: 480px){
    /*** media queries index ***/
    .body-index .navbar{
        display: block;
        background-color: #FF5D5D !important;
    }
    .body-index header{
        height: 60px;
    }
    header .menu-pages {
        display: none;
    }

    header .logo-header{
        display: none;
    }
    
    .body-index{
        background-image: none;
    }

    .body-index main .logo-pcelu img{
        height: 6rem;
    }

    .body-index main{
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 70%;
    }

    /*** media queries inicio***/
    
}